{% extends "base.html" %}

{% block titulo %}Campanha Criada{% endblock %}

{% block conteudo %}

    <div class="card shadow">

        <div class="card-body">

            <h2 class="text-success">
                ✅ Campanha criada com sucesso!
            </h2>

            <hr>

            <h5>Link gerado</h5>

            <input
                id="link"
                class="form-control mb-3"
                type="text"
                value="{{ link }}"
                readonly>

            <button
                class="btn btn-success"
                onclick="copiarLink()">

                📋 Copiar Link

            </button>

            <a
                href="/campanhas"
                class="btn btn-primary">

                Nova Campanha

            </a>

        </div>

    </div>

    <script>

    function copiarLink(){

        let copyText = document.getElementById("link");

        copyText.select();

        copyText.setSelectionRange(0,99999);

        navigator.clipboard.writeText(copyText.value);

        alert("Link copiado!");

    }

    </script>

{% endblock %}
