{% extends "base.html" %}

{% block titulo %}Mobiliza - Histórico de Cliques{% endblock %}

{% block conteudo %}

    <h2>📈 Histórico de Cliques</h2>

    <hr>

    <table class="table table-striped">

        <thead>

            <tr>

                <th>ID</th>

                <th>Campanha</th>

                <th>IP</th>

                <th>Data</th>

            </tr>

        </thead>

        <tbody>

        {% for clique in cliques %}

        <tr>

            <td>{{ clique.id }}</td>

            <td>{{ clique.campanha_id }}</td>

            <td>{{ clique.ip }}</td>

            <td>{{ clique.data | brasilia }}</td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

{% endblock %}
