{% extends "base.html" %}

{% block titulo %}Contatos{% endblock %}

{% block conteudo %}

    <h2>👥 Contatos</h2>

    <hr>

    <div class="card mb-4">

        <div class="card-header">
            Novo Contato
        </div>

        <div class="card-body">

            <form method="POST">

                <div class="mb-3">

                    <label>Nome</label>

                    <input
                        class="form-control"
                        name="nome"
                        required>

                </div>

                <div class="mb-3">

                    <label>Telefone</label>

                    <input
                        class="form-control"
                        name="telefone"
                        required>

                </div>

                <div class="mb-3">

                    <label>Cargo</label>

                    <input
                        class="form-control"
                        name="cargo">

                </div>

                <div class="mb-3">

                    <label>Segmento</label>

                    <select
                        class="form-select"
                        name="segmento">

                    {% for segmento in segmentos %}

                        <option value="{{ segmento.id }}">
                            {{ segmento.nome }}
                        </option>

                    {% endfor %}

                    </select>

                </div>

                <button class="btn btn-success">
                    Salvar
                </button>

            </form>

        </div>

    </div>

    <table class="table table-bordered table-striped">

        <thead class="table-dark">

            <tr>

                <th>Nome</th>

                <th>Telefone</th>

                <th>Cargo</th>

                <th>Segmento</th>

            </tr>

        </thead>

        <tbody>

        {% for contato in contatos %}

            <tr>

                <td>{{ contato.nome }}</td>

                <td>{{ contato.telefone }}</td>

                <td>{{ contato.cargo }}</td>

                <td>{{ contato.segmento.nome }}</td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

{% endblock %}
