{% extends "base.html" %}

{% block titulo %}Segmentos{% endblock %}

{% block conteudo %}

    <h1>📂 Segmentos</h1>

    <hr>

    <div class="card mb-4">

        <div class="card-header">
            Novo Segmento
        </div>

        <div class="card-body">

            <form method="POST">

                <div class="mb-3">

                    <label>Nome do segmento</label>

                    <input
                        type="text"
                        class="form-control"
                        name="nome"
                        required>

                </div>

                <button class="btn btn-success">
                    Salvar
                </button>

            </form>

        </div>

    </div>

    <table class="table table-striped">

        <thead class="table-dark">

            <tr>

                <th>ID</th>

                <th>Nome</th>

            </tr>

        </thead>

        <tbody>

        {% for segmento in segmentos %}

            <tr>

                <td>{{ segmento.id }}</td>

                <td>{{ segmento.nome }}</td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

{% endblock %}
